@import 'tailwindcss';
@import '@cloudflare/kumo/styles/tailwind';
@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@source "../node_modules/streamdown/dist/index.js";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--color-kumo-base);
	color: var(--text-color-kumo-default);
}
